@mixin text-p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

@mixin text-h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

@mixin text-h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

@mixin text-h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}
